<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusReservationApp"
        tools:targetApi="31">
        <activity
            android:name=".RatingActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".RetailVerificationActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".PaymentRetailActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".PaymentVirtualAccountActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".VirtualAccountVerificationActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".EWalletVerificationActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".PaymentEWalletActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".PaymentMethodActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".BusDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".PaymentDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".SeatChooserMenuActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".BusScheduleActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".UserActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".UserLoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".UserRegisterActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".TicketDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".RatingHistoryActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>